/* Importar la fuente Poppins de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #A6A57A; /* Color de texto */
    background-color: #27213C; /* Color de fondo */
}

header {
    background-color: rgba(166, 165, 122, 0.8); /* Color del fondo del header con transparencia */
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /* Asegura que el header esté por encima de otros elementos */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #27213C; /* Color de los enlaces */
    font-weight: 600;
}

section {
    padding: 20px;
    text-align: center;
}

section#inicio {
    color: #A6A57A;
}

.perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px 0;
}

.proyecto {
    margin: 20px 0;
}

.imagen-proyecto {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 20px 0;
}

footer {
    background-color: #A6A57A; /* Color del fondo del footer */
    padding: 10px 0;
    text-align: center;
    color: #27213C; /* Color del texto del footer */
    position: relative;
    bottom: 0;
    width: 100%;
}

section#inicio p {
    font-size: 20px; /* Ajusta este valor según tus necesidades */
}

section#inicio h1 {
    font-size: 30px;
}

p {
    text-align: justify; /* Alinea el texto automáticamente */
    text-align-last: left; /* Asegura que la última línea esté alineada a la izquierda */
    hyphens: auto; /* Habilita el corte de palabras automáticas para evitar que las palabras se desborden del contenedor */
    width: 80%; /* Define el ancho del contenedor al 80% del ancho del contenedor principal */
    max-width: 600px; /* Define el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Media queries para hacer la página responsive */
@media only screen and (max-width: 768px) {
    p {
        width: 90%; /* Cambiar el ancho del contenedor al 90% */
    }
}

@media only screen and (max-width: 340px) {
    p {
        width: 100%; /* Cambiar el ancho del contenedor al 100% */
    }
    header {
        padding: 5px 0; /* Ajusta el padding del header para pantallas más pequeñas */
    }
    nav ul {
        flex-direction: column; /* Coloca los elementos de la navegación en una columna */
    }
    nav ul li {
        margin: 5px 0; /* Ajusta el margen de los elementos de la navegación */
    }
    section {
        padding: 10px;
    }
    section#inicio h1 {
        font-size: 24px; /* Ajusta el tamaño de la fuente del título */
    }
    section#inicio p {
        font-size: 16px; /* Ajusta el tamaño de la fuente del párrafo */
    }
    .perfil {
        width: 100px;
        height: 100px;
    }
}

/* Estilos para mantener el footer en la parte inferior de la página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}



.placeholder {
    height: 138px; /* Espacio vacío de 100px dentro del main */
}

/* Estilos para la sección de habilidades */
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    height: 100%; /* Ocupa toda la altura disponible */
    position: relative; /* Asegura que los elementos hijos puedan usar z-index */
}

/* Carrusel de imágenes */
.carousel {
    width: 100%;
    height: 500px; /* Altura fija para el carrusel */
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    z-index: 0; /* Carrusel en un nivel inferior */
    border-radius: 20px; /* Ajusta el valor según la curvatura deseada */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%; /* Ocupa toda la altura disponible */
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que las imágenes mantengan su proporción y cubran el área */
    flex-shrink: 0;
}

/* Menú tipo cartas */
.cards-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
   /* max-width: 100%;  Ancho máximo del menú */
    position: absolute; /* Para posicionarlo dentro del carrusel */
    top: 50%; /* Posicionar en el 50% desde arriba */
    transform: translateY(-50%); /* Ajustar posición vertical */
    z-index: 1; /* Asegura que el menú esté por encima del carrusel */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Alineación horizontal */
}

.card {
    background-color: #A6A57A;
    padding: 20px;
    border-radius: 10px;
    color: #27213C;
    width: 150px; /* Ancho fijo */
    height: 250px; /* Altura fija */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all 0.3s ease; /* Transición para suavizar el cambio de tamaño */
    position: relative; /* Ajustar la posición del contenido */
    opacity: 0.8; /* Nivel de transparencia inicial */

}

.card:hover {
    opacity: 1; /* Opacidad completa al pasar el ratón sobre la carta */
    transform: translateY(-15px);
}



.card-img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    border-radius: 10px;
    transition: width 0.3s ease, height 0.3s ease; /* Transiciones para un cambio suave */
}

.description {
    color: white; /* Cambiar el color del texto a blanco */
    font-weight: bold; /* Aumentar el grosor del texto para que resalte más */
    font-size: 16px; /* Tamaño de fuente inicial */
    transition: font-size 0.3s ease; /* Transición para suavizar el cambio de tamaño del texto */
    position: absolute; /* Posicionar la descripción */
    bottom: 20px; /* Colocar la descripción desde el borde inferior */
    left: 50%; /* Alinear la descripción horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: 150px; /* Anchura de la descripción */
    height: 250px; /* Altura de la descripción */
    overflow: auto; /* Agregar desplazamiento si el contenido excede el tamaño */
}

/* Estilos para la descripción oculta */
.description.hidden {
    display: none; /* Oculta la descripción por defecto */
}


.card.clicked .card-img {
    display: none;
}

.card.clicked .description {
    display: block;
    opacity: 1;
    font-size: 12px;
}


/* Media queries para hacer la página responsive */
@media screen and (max-width: 1366px) {
    .card {
        max-width: calc(50% - 40px); /* Ajusta el tamaño del contenedor en pantallas más pequeñas */
    }
    .card-img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 100%; /* Ajusta el tamaño del contenedor en pantallas muy pequeñas */
    }
    .card-img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        max-width: 100%; /* Ajusta el tamaño del contenedor en pantallas muy pequeñas */
    }
    .card-img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 450px) {
    .card {
        max-width: calc(15% - 9px); /* Ajusta el tamaño del contenedor en pantallas más pequeñas */
    }
    .card-img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 380px) {
    .card {
        max-width: calc(13% - 10px); /* Ajusta el tamaño del contenedor en pantallas más pequeñas */
    }
    .card-img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 345px) {
    .card {
        max-width: calc(10% - 3px); /* Ajusta el tamaño del contenedor en pantallas más pequeñas */
    }
    .card-img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 200px) {
    .card {
        max-width: calc(10% - 60px); /* Ajusta el tamaño del contenedor en pantallas más pequeñas */
    }
    .card-img {
        max-width: 100%;
        max-height: 100%;
    }
}

/* Estilos adicionales para el carrusel de imágenes */
.carousel-images img {
    display: none;
}

.carousel-images img.visible {
    display: block;
}

/* Media query para pantallas medianas */
@media only screen and (max-width: 768px) {
    .card {
        height: 200px; /* Ajusta la altura según sea necesario */
    }
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 480px) {
    .card {
        height: 150px; /* Ajusta la altura según sea necesario */
    }
}

/* Media query para pantallas extra pequeñas */
@media only screen and (max-width: 320px) {
    .card {
        height: 120px; /* Ajusta la altura según sea necesario */
    }
}

/* Media query para pantallas extra pequeñas */
@media only screen and (max-width: 299px) {
    .card {
        height: 80px; /* Ajusta la altura según sea necesario */
    }
}

#proyectos {
    height: auto; /* Establecer la altura deseada */
}

.proyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.proyecto-thumbnail {
    width: 600px;
    height: 500px;
    border: 2px solid #A6A57A;
    border-radius: 10px;
    overflow: hidden;
}

.proyecto-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proyecto-info {
    flex: 1;
    max-width: 400px;
}

.proyecto-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.proyecto-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #A6A57A;
    color: #27213C;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #27213C;
    color: #A6A57A;
}

/* Estilos para la sección de contacto */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px; /* Altura de la sección de contacto */
    background-color: #27213C; /* Color de fondo de la sección */
}

.contact-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.contact-card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #27213C;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #27213C; /* Fondo oscuro para los iconos */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

.social-icons a:hover {
    background-color: #A6A57A; /* Cambia el color de fondo al pasar el ratón */
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #0056b3;
}



