/* Importar la fuente Poppins de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #A6A57A; /* Color de texto */
    background-color: #27213C; /* Color de fondo */
}

header {
    background-color: #A6A57A; /* Color del fondo del header */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #27213C; /* Color de los enlaces */
    font-weight: 600;
}

section {
    padding: 20px;
    text-align: center;
}

section#inicio {
    color: #A6A57A;
}

.perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px 0;
}

.proyecto {
    margin: 20px 0;
}

.imagen-proyecto {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 20px 0;
}

footer {
    background-color: #A6A57A; /* Color del fondo del footer */
    padding: 10px 0;
    text-align: center;
    color: #27213C; /* Color del texto del footer */
}
